body {
  background-color: black;
}

#form {
  color: white;
  width: 400px;
  margin: 0 auto;
  top: 100px;
}

span {
  display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.effects {
  color: red;
}
